body{
    margin: 0;
    padding: 0;
    font-size: 1.5vw;
    color: #50514F
}

#footer{
    position: fixed;
    top: 100vh;
    width: 100vw;
    height: 7vw;
    transform: translateY(-100%);
}

#footer #footer_nav{
    margin: 0 auto;
    width: 22vw;
    text-align: center;
    background: white;
    box-shadow: 0.2em 0.2em 2em lightgrey;
    padding-top: 1vw;
    border-top-left-radius: 5vw;
    border-top-right-radius: 5vw;
}

#footer #footer_nav img{
    display: inline;
}

#content{
    padding-left: 5vw;
    width: 76vw;
    margin: 5vw auto;
    min-height: 76vw;
    box-shadow: 0.5em 0.5em 2em lightgrey;
    padding: 4vw;
    position: relative;
}

#content .page .image{
    position: relative;
    width: 25vw;
    height: 25vw;
    padding: 0;
    margin: 0 -1px -0.5vw 0;
    border: 1px white solid;
    transition: all 0.2s;
    display: inline-block;
}

#content .page .image:nth-of-type(2){
    border-left: 1px #F25F5C solid;
}

#content .page .image:nth-of-type(6){
    border-top: 1px #247BA0 solid
}

#content .page .image:nth-of-type(7){
    border-top: 1px #FFE066 solid
}

#content .page .image:nth-of-type(9){
    border-left: 1px #70C1B3 solid
}

#content .page .image img{
    position: absolute;
    width: 22.5vw;
    /* height: 30vw; */
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.2s;
    filter: blur(0);
}

#content .page .image:hover img{
    filter: blur(2px);
}

#content .page .image:hover .img_details{
    display: inline;
    transform: translate(-50%, -50%);
    filter: drop-shadow(1em 1em 2em lightgrey);
}

#content .page .image .img_details{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-40%, -40%);
    background: #fefefe;
    padding: 1em;
    display: none;
    transition: all 2s;
}

#page_prev{
    position: absolute;
    top: 50%;
    left: 1.5vw;
    width: 2vw;
}

#page_next{
    position: absolute;
    top: 50%;
    left: 80vw;
    transform: rotate(180deg);
    width: 2vw;
}

#page_prev:hover, #page_next:hover{
    filter: hue-rotate(90deg);
}

/* PROFILE */
#content .usr_usrname{
    width: 32vw;
    line-height: 32vw;
    display: inline-block;
    margin-right: 3vw;
    text-align: right;
    float: left;
}

#content .usr_usrname input{
    border: none;
    text-align: right;
    font-size: 4vw;
    width: 30vw;
}

#content .usr_form{
    width: 35vw;
    display: inline-block;
    margin: 0 auto;
}

#content .usr_form .form_group{
    height: 3vw;
    margin-bottom: 2vw;
    padding: 1em;
}

#content .usr_form .form_group:nth-of-type(1){
    border-left: 1px #F25F5C solid;
}

#content .usr_form .form_group:nth-of-type(2){
    border-left: 1px #FFE066 solid;
}

#content .usr_form .form_group:nth-of-type(3){
    border-left: 1px #247BA0 solid;
}

#content .usr_form .form_group:nth-of-type(4){
    border-left: 1px #70C1B3 solid;
}

#content .usr_form .form_group input{
    border: none;
    border-bottom: 1px #50514F dotted;
}

/* SNAP */

#snap-container{
    position: relative;
    left: 0vw;
    top: 0vw;
    height: 56.25vw;
    width: 75vw;
}

#snap-container #cover{
    position: absolute;
}

#snap-container #videoElement{
    position: absolute;
    width: 75vw;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

#modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 5vw;
    padding-top: 0;
    padding-right: 0;
    border: 1px solid #888;
    width: 80vw;
}

#modal-content img{
    width: 75vw;
    margin-right: 5vw;
}

.close {
    position: relative;
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    margin-right: 1vw;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#likes_tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

#likes_tooltip #likes_tooltip_text {
    visibility: hidden;
    width: 120px;
    border: 1px #247BA0 solid;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
}

#likes_tooltip:hover #likes_tooltip_text {
    visibility: visible;
}

/* SIGNUP */

#signup, #login, #reset{
    position: relative;
    margin-bottom: 2vw;
    margin-left: 2vw;
    width: 32vw;
    float: left;
    display: inline-block;
    transition: all 0.5s ease-in-out;
}

.cover{
    text-align: center;
    margin-bottom: 3.25vw;
    margin-left: 2vw;
    width: 32vw;
    display: inline-block;
    float: left;
}

#signup:hover, #login:hover, #reset:hover{
    box-shadow: inset 0 0 0 lightgrey;
    filter: blur(0);
}

#signup input[type='submit'], #login input[type='submit'], #reset input[type='submit']{
    border: none;
    box-shadow: none;
    width: 100%;
    height: 4vw;
}

#signup .form_group:nth-of-type(4n - 3), #login .form_group:nth-of-type(4n - 1){
    border-left: 1px #70C1B3 solid;
}

#signup .form_group:nth-of-type(4n - 2), #reset .form_group{
    border-left: 1px #247BA0 solid;
}

#signup .form_group:nth-of-type(4n - 1), #login .form_group:nth-of-type(4n - 3){
    border-left: 1px #FFE066 solid;
}

#signup .form_group:nth-of-type(4n), #login .form_group:nth-of-type(4n - 2){
    border-left: 1px #F25F5C solid;
}

#signup .form_group, #login .form_group, #reset .form_group {
    padding: 1em;
    margin: 1vw 0vw 1vw 3vw;
}

#signup .form_group small, #login .form_group small, #reset .form_group small {
    display: block;
}