body{
    margin: 0;
    padding: 0;
    font-size: 1.5vw;
    color: #50514F
}

#footer{
    position: fixed;
    top: 100vh;
    width: 100vw;
    height: 5vw;
    transform: translateY(-100%);
}

#content{
    padding-left: 5vw;
    width: 76vw;
    margin: 5vw auto;
    min-height: 76vw;
    box-shadow: 0.5em 0.5em 2em lightgrey;
    padding: 4vw;
    position: relative;
}

#content .page .image{
    position: relative;
    width: 25vw;
    height: 25vw;
    padding: 0;
    margin: 0 -1px -0.5vw 0;
    border: 1px white solid;
    transition: all 0.2s;
    display: inline-block;
}

#content .page .image:nth-of-type(2){
    border-left: 1px #F25F5C solid;
}

#content .page .image:nth-of-type(6){
    border-top: 1px #247BA0 solid
}

#content .page .image:nth-of-type(7){
    border-top: 1px #FFE066 solid
}

#content .page .image:nth-of-type(9){
    border-left: 1px #70C1B3 solid
}

#content .page .image img{
    position: absolute;
    width: 22.5vw;
    /* height: 30vw; */
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.2s;
    filter: blur(0);
}

#content .page .image:hover img{
    filter: blur(2px);
}

#content .page .image:hover .img_details{
    display: inline;
    transform: translate(-50%, -50%);
    filter: drop-shadow(1em 1em 2em lightgrey);
}

#content .page .image .img_details{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-40%, -40%);
    background: #fefefe;
    padding: 1em;
    display: none;
    transition: all 2s;
}

#page_prev{
    position: absolute;
    top: 50%;
    left: 1.5vw;
    width: 2vw;
}

#page_next{
    position: absolute;
    top: 50%;
    left: 80vw;
    transform: rotate(180deg);
    width: 2vw;
}

#page_prev:hover, #page_next:hover{
    filter: hue-rotate(90deg);
}

/* PROFILE */
#content .usr_usrname{
    width: 32vw;
    line-height: 32vw;
    display: inline-block;
    margin-right: 3vw;
    text-align: right;
    float: left;
}

#content .usr_usrname input{
    border: none;
    text-align: right;
    font-size: 4vw;
    width: 30vw;
}

#content .usr_form{
    width: 35vw;
    display: inline-block;
    margin: 0 auto;
}

#content .usr_form .form_group{
    height: 3vw;
    margin-bottom: 2vw;
    padding: 1em;
}

#content .usr_form .form_group:nth-of-type(1){
    border-left: 1px #F25F5C solid;
}

#content .usr_form .form_group:nth-of-type(2){
    border-left: 1px #FFE066 solid;
}

#content .usr_form .form_group:nth-of-type(3){
    border-left: 1px #247BA0 solid;
}

#content .usr_form .form_group:nth-of-type(4){
    border-left: 1px #70C1B3 solid;
}

#content .usr_form .form_group input{
    border: none;
    border-bottom: 1px #50514F dotted;
}

/* SNAP */

#snap-container{
    position: relative;
    left: 0vw;
    top: 0vw;
    height: 56.25vw;
    width: 75vw;
}

#snap-container #cover{
    position: absolute;
}

#snap-container #videoElement{
    position: absolute;
    width: 75vw;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
#modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 5vw;
    padding-top: 0;
    padding-right: 0;
    border: 1px solid #888;
    width: 80vw; /* Could be more or less, depending on screen size */
}

#modal-content img{
    width: 75vw;
    margin-right: 5vw;
}

/* The Close Button */
.close {
    position: relative;
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    margin-right: 1vw;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* TOOLTIP */

/* Tooltip container */
#likes_tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
#likes_tooltip #likes_tooltip_text {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
 
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
#likes_tooltip:hover #likes_tooltip_text {
    visibility: visible;
}