body{
    margin: 0;
    padding: 0;
    font-size: 1.5vw;
    color: #50514F
}
.section-nav{
    background: darkslategray;
    height: 5vw;
    width: 100vw;
    position: absolute;
}

.section-main{
    margin-top: 5vw;
}

#header{
    top: 0;
}

#footer{
    position: fixed;
    top: 100vh;
    transform: translateY(-100%);
}

#content{
    padding-left: 5vw;
}

#content .image{
    position: relative;
    width: 30vw;
    height: 30vw;
    box-shadow: 0.1em 0.1em 0.5em grey;
    transition: all 0.2s;
}

#content .image:hover{
    box-shadow: 0.1em 0.1em 1em grey;
    transform: translate(-0.1em, -0.1em);
}

#content .image img{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.2s;
}

#content .image h2{
    position: absolute;
    height: 7vw;
    /* width: 30vw; */
    top: 20vw;
    line-height: 7vw;
    vertical-align: middle;
    padding-left: 1em;
}

#content .image small{
    position: absolute;
    height: 3vw;
    /* width: 30vw; */
    top: 27vw;
    line-height: 3vw;
    vertical-align: middle;
    padding-left: 1em;
}

form {
    /* border: 0.2vw solid #70C1B3; */
    padding: 1vw;
    margin: 1vw auto;
    width: 40vw;
    padding: 0;
    /* text-align: center; */
}

/* #signup{
    line-height: 10vw;
    vertical-align: middle;
} */

#signup .form_group{
    position: relative;
    width: 18vw;
    height: 5vw;
    display: inline-block;
    margin-left: 1.5vw;
}

#signup .form_group > *{
    position: absolute;
    width: 15vw;
    height: 3vw;
}

#signup .form_group > label{
    line-height: 4vw;
    vertical-align: middle;
    z-index: 3;
    margin-left: 1vw;
    transition: all 0.5s;
}

#signup .form_group > input{
    padding-left: 1vw;
    border: none;
    border-radius: 0.3vw;
    box-shadow: 0.2vw 0.2vw 1vw #50514F;
    z-index: 2;
    display: block;
}

#signup .form_group:hover label{
    transform: translateY(-3vw);
}
