body{
    margin: 0;
    padding: 0;
    font-size: 1.5vw;
    color: #50514F
}
.section-nav{
    background: darkslategray;
    height: 5vw;
    width: 100vw;
    position: absolute;
}

.section-main{
    margin-top: 5vw;
}

#header{
    top: 0;
}

#footer{
    position: fixed;
    top: 100vh;
    transform: translateY(-100%);
}

#content{
    padding-left: 5vw;
}

#content .image{
    position: relative;
    width: 30vw;
    height: 30vw;
    box-shadow: 0.1em 0.1em 0.5em grey;
    transition: all 0.2s;
}

#content .image img{
    position: absolute;
    width: 30vw;
    /* height: 30vw; */
    left: 50%;
    top: 0;
    transform: translate(-50%, 0);
    transition: all 0.2s;
}

#content .image img:hover{
    left: 47.5%;
    top: -2.5%;
    box-shadow: 0.1em 0.1em 0.5em grey;
}

#content .image h2{
    position: absolute;
    height: 7vw;
    /* width: 30vw; */
    top: 20vw;
    line-height: 7vw;
    vertical-align: middle;
    padding-left: 1em;
}

#content .image small{
    position: absolute;
    height: 3vw;
    /* width: 30vw; */
    top: 27vw;
    line-height: 3vw;
    vertical-align: middle;
    padding-left: 1em;
}

form {
    /* border: 0.2vw solid #70C1B3; */
    padding: 1vw;
    margin: 1vw auto;
    width: 40vw;
    padding: 0;
    /* text-align: center; */
}

/* #signup{
    line-height: 10vw;
    vertical-align: middle;
} */

#signup .form_group{
    position: relative;
    width: 18vw;
    height: 5vw;
    display: inline-block;
    margin-left: 1.5vw;
}

#signup .form_group > *{
    position: absolute;
    width: 15vw;
    height: 3vw;
}

#signup .form_group > label{
    line-height: 4vw;
    vertical-align: middle;
    z-index: 3;
    margin-left: 1vw;
    transition: all 0.5s;
}

#signup .form_group > input{
    padding-left: 1vw;
    border: none;
    border-radius: 0.3vw;
    box-shadow: 0.2vw 0.2vw 1vw #50514F;
    z-index: 2;
    display: block;
}

#signup .form_group:hover label{
    transform: translateY(-3vw);
}

/* SNAP */

#snap-container{
    position: relative;
    left: 0vw;
    top: 0vw;
    height: 67.5vw;
    width: 90vw;
    border: 1px red solid;
}

#snap-container #cover{
    position: absolute;
}

#snap-container #videoElement{
    position: absolute;
    width: 90vw;
    min-height: 67.5vw;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
#modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 5vw;
    padding-top: 0;
    padding-right: 0;
    border: 1px solid #888;
    width: 80vw; /* Could be more or less, depending on screen size */
}

#modal-content img{
    width: 80vw;
    margin-right: 5vw;
}

/* The Close Button */
.close {
    position: relative;
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* TOOLTIP */

/* Tooltip container */
#likes_tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
#likes_tooltip #likes_tooltip_text {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
 
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
#likes_tooltip:hover #likes_tooltip_text {
    visibility: visible;
}