body{
    margin: 0;
    padding: 0;
    font-size: 1.5vw;
}
.section-nav{
    background: darkslategray;
    height: 5vw;
    width: 100vw;
    position: absolute;
}

.section-main{
    margin-top: 5vw;
}

#header{
    top: 0;
}

#footer{
    top: 100vh;
    transform: translateY(-100%);
}